@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-left: 15rem;
    padding-right: 15rem;
}
.heading{
    font-family: 'Fredoka One', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}
.list-non-bullet{
    list-style: none;
}
.line{
    border: 1px solid burlywood;
    width: fit-content;
    /* display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px; */
}

.content{
    font-size: 25px;
}